.box {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 0;
  align-items: flex-start;
}

.box .title {
  color: var(--color-green);
  margin-bottom: 0;
}
.content {
  width: 100%;
  height: auto;
}
